name: Production - Publish Docker Image to GHCR

on:
  # push:
  pull_request:
    branches: [main]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  axum-api:
    uses: ./.github/workflows/axum-api.yml

  svelte-ui:
    uses: ./.github/workflows/svelte-ui.yml

  build:
    needs:
      - axum-api
      - svelte-ui
    runs-on: ubuntu-22.04

    environment: production

    permissions:
      # For pushing to GHCR
      packages: write
      # For attestation step
      id-token: write
      attestations: write

    steps:
      - uses: actions/checkout@v4
      # Download build artifacts
      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: type=ref,event=tag,pattern={{version}}
          #   type=schedule
          #   type=ref,event=branch
          #   type=ref,event=pr
          #   type=semver,pattern={{major}}.{{minor}}
          #   type=semver,pattern={{major}}
          #   type=sha
      - run: echo ${{ steps.meta.outputs.tags }}
      - name: Build and Push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker-infra/Dockerfile
          load: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Inspect
        run: |
          docker image inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
